.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */
}

.App-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.App-link {
  color: #61dafb;
}

.button_group {
  text-align: right;
}

.button_group button {
  border-radius: 10%;
  padding: 10px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.37);
}
/* .button_group button:hover {
  background-color: rgba(255, 255, 255, 0.37);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* ScreenDots.js */
.Clicky {
  height: 100vh;
}
.pin {
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: gray;
}
